@font-face {
    font-family: "Grenadine MVB Medium";
    src: url(../fonts/grenadine/fonts/fonnts.com-Grenadine_MVB_Medium-1.otf);
}

@font-face {
    font-family:"Stinger Variable";
    src: url(../fonts/stinger/stinger-variable.ttf);
}

@keyframes slideDown {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideDown 1s;
}

/*html {
    content: "";
    background-image: url("../../img/background1.jpg"); 
    background-size: cover; background-position: center;
    filter:blur(5px);
    z-index:-1
}*/

body::before {
    content: "";
    position: fixed; /* Asegura que el fondo cubra toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../img/background1.jpg'); 
    background-size: cover; 
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.logoimg {
    max-width: 50%;
    height: auto;
}

.mainTitle {
    font-size: 5em;
    margin: 0;
    font-family: "Grenadine MVB Medium";
}

/*.mainTitle {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    color:rgb(206, 213, 67);
    background-color: rgb(168, 168, 168);
}*/

.navbar{
    overflow: hidden;
    background-color: #FBB13c;
    font-family: 'Courier New', Courier, monospace;
}

.navbar a{
    float: center;
    font-size: 2em;
    color: white;
    text-align: center;
    padding: 28px 30px;
    font-family: "Stinger Variable";
}

.navbar a:hover {
    background-color: #B9E6FF;
    color: black;
}

p {
    font-family: "Stinger Variable";
    font-size: 20px;
    color: rgba(0,0,0,1);
    background-color: rgba(255, 255, 255, .5);
}

