@font-face {
    font-family: "Grenadine MVB Medium";
    src: url(../fonts/grenadine/fonts/fonnts.com-Grenadine_MVB_Medium-1.otf);
}

@font-face {
    font-family:"Stinger Variable";
    src: url(../fonts/stinger/stinger-variable.ttf);
}

@keyframes slideDown {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideDown 1s;
}
.logoimg {
    max-width: 5%;
    height: auto;
}

.mainTitle {
    font-size: 5em;
    margin: 0;
    font-family: "Grenadine MVB Medium";
}

/*.mainTitle {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    color:rgb(206, 213, 67);
    background-color: rgb(168, 168, 168);
}*/

.navbar{
    overflow: hidden;
    background-color: #FBB13c;
    font-family: 'Courier New', Courier, monospace;
}

.navbar a{
    float: center;
    font-size: 2em;
    color: white;
    text-align: center;
    padding: 28px 30px;
    font-family: "Stinger Variable";
}

.navbar a:hover {
    background-color: #B9E6FF;
    color: black;
}

p {
    font-family: "Stinger Variable";
    font-size: 20px;
    color: black;
}
